@using PagedList.Mvc
@using PagedList
@model PagedList<ApiDoc.Models.SearchResult>
@{
    ViewBag.Title = "Search";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <ul class="">
                    @foreach (var item in Model)
                    {
                        <li class="">
                            <p>
                                <a href="@Url.Content("~/ApiHtml")\@item.Path" target="dashboard">@Html.Raw(@item.Title)</a><br />
                                <span class="text-muted">
                                    @Html.Raw(@item.Sample)
                                </span>
                                <br />
                                <span class="text-success">
                                    @item.Path
                                </span>
                            </p>
                        </li>

                    }
                </ul>
            </div>
        </div>
        <div class="row">
            @Html.PagedListPager(Model, page => Url.Action("Search", new { ViewBag.searchingText, page, pageSize = Model.PageSize }))
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </div>
  </div>
</body>
</html>